# Configuração do Servidor
PORT=4000
NODE_ENV=development
CLIENT_URL=http://localhost:3000

# Segurança / JWT
JWT_SECRET=super_secret_jwt_key_mindgroup_2026
JWT_EXPIRES_IN=7d

# Conexão com o Banco de Dados MySQL
DB_HOST=localhost
DB_USER=root
DB_PASSWORD=root
DB_NAME=blog_system
DB_PORT=3306
