/* src/components/NewArticlesSection/NewArticlesSection.module.css */
.newArticlesSection {
    background-color: #f8f9fa;
    border-radius: 8px;
    padding: 25px;
    box-shadow: 0 2px 10px rgba(0,0,0,0.05);
}

.newArticlesSection h2 {
    font-size: 1.8em;
    color: #333;
    margin-bottom: 20px;
    text-align: center;
    border-bottom: 2px solid #eee;
    padding-bottom: 10px;
}

.articlesList {
    display: flex;
    flex-direction: column;
    gap: 15px; /* Espaço entre os ArticleListItem */
}

.newArticlesSection p {
    text-align: center;
    color: #777;
    font-size: 1em;
    margin-top: 15px;
}